.form {
  display: flex;
  margin: 0 0 0 5px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  /* border-top: 2px solid #D3D3D3; */
}

.input {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2px;
  width: 100%;
  font-size: 1.2em;
}

textarea:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #9ca3b3;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}